[submodule "bundle/bundle/dracula-theme"]
	path = bundle/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
